<form method="POST" class="mt-5">
    <div class="form-group">
        <label for="inputTitle">Заголовок</label>
        <input type="text"
               value="<%= books.title %>"
               name="title"
               class="form-control"
               id="inputTitle">
    </div>

    <div class="form-group">
        <label for="inputDesc">Описание</label>
        <textarea
                rows="3"
                name="desc"
                class="form-control"
                id="inputDesc"
        ><%= books.desc %></textarea>
    </div>

    <div class="form-group">
        <label for="inputAuthors">Автор</label>
        <input type="text"
               value="<%= books.authors %>"
               name="authors"
               class="form-control"
               id="inputAuthors">
    </div>

    <div class="form-group">
        <label for="inputFavorite">Избранное</label>
        <input type="checkbox"
               value="<%= books.favorite %>"
               name="favorite"
               class="form-control"
               id="inputFavorite">
    </div>

    <div class="form-group">
        <label for="inputFileCover">Ссылка</label>
        <input type="text"
               value="<%= books.fileCover %>"
               name="fileCover"
               class="form-control"
               id="inputFileCover">
    </div>

    <div class="form-group text-right ">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>